@import "mixins/vendor-prefixes";
@import "mixins/border-radius";
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

$dashboard-menu-width: 16%;
$dashboard-main-width: 84%;
$dashboard-list-width: 35%;
$dashboard-content-width: 65%;
$dashboard-sidebar-bg-color: RGB(34, 45, 48);
$dashboard-banner-bg: RGB(85, 164, 211);
$dashboard-header-height: 72px;
$dashboard-header-toolbar-color: RGB(92, 101, 125);
$dashboard-header-toolbar-hover-color: #23527c;
$dashboard-header-border: 1px solid RGB(179, 179, 183);
$dashboard-list-bg-color: RGB(245, 245, 245);
$list-text-lines: 2;
$list-text-font-size: 14px;
$list-text-line-height: 1.4;
$dashboard-list-selected-bg: RGB(139, 139, 145);
.dashboard-menu,
.dashboard-main,
.dashboard-list,
.dashboard-content {
    height: 100%;
    position: absolute;
    display: block;
}

#dashboard-content {
    padding: 30px;
    height: calc(100% - $dashboard-header-height);
    overflow-y: scroll;
}

.dashboard-menu {
    width: $dashboard-menu-width;
    background: white;
    background: $dashboard-sidebar-bg-color;
    @include box-shadow(2px 0px 5px rgba(0, 0, 0, .05));
    .dashboard-banner {
        background: $dashboard-banner-bg;
        height: $dashboard-header-height;
        text-align: center;
        & > h1,
        & > h3 {
            color: white;
            margin: 0;
            line-height: $dashboard-header-height;
        }
    }
}

.dashboard-list,
.dashboard-content {
    .dashboard-header {
        width: 100%;
        height: $dashboard-header-height;
        padding: 0 20px;
        border-bottom: $dashboard-header-border;
        background: $dashboard-list-bg-color;
        .toolbar {
            line-height: $dashboard-header-height;
            display: inline-block;
            color: $dashboard-header-toolbar-color;
            text-decoration: none;
            padding: 0 5px;
            cursor: pointer;
            &:hover,
            &:active,
            &:focus {
                color: $dashboard-header-toolbar-hover-color;
            }
            & > .fa {
                font-size: 20px;
            }
        }
        .multi-choose {
            padding: 25px 0;
            float: left;
            margin-left: -5px;
            margin-right: 5px;
            display: inline-block;
        }
    }
}

.dashboard-list .dashboard-header {
    padding: 0 10px;
}

.dashboard-content {
    border-left: $dashboard-header-border;
}

.dashboard-list {
    left: 0;
    width: $dashboard-list-width;
    overflow: hidden;
    .list-view {
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .item {
        width: 100%;
        padding: 10px 15px;
        border-bottom: 1px solid #E0E0E0;
        background: white;
        position: relative;
        .content {
            margin-left: 0;
            @include transition(margin 200ms linear);
        }
        .title {
            font-size: 16px;
            line-height: 32px;
            font-weight: 500;
            text-decoration: none;
            color: black;
            cursor: pointer;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0;
        }
        .text {
            display: block;
            font-size: 14px;
            /* Fallback for non-webkit */
            display: -webkit-box;
            max-width: 100%;
            font-size: $list-text-font-size;
            margin: 0 auto;
            line-height: $list-text-line-height;
            height: $list-text-font-size * $list-text-line-height * $list-text-lines;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: $list-text-lines;
            -webkit-box-orient: vertical;
        }
        .text-muted {
            font-size: 12px;
            margin: 0;
        }
        .multi-choose {
            top: 0;
            bottom: 0;
            position: absolute;
            left: 5px;
            margin: auto;
            width: 20px;
            height: 20px;
            & + .content {
                margin-left: 20px;
            }
        }
    }
    .item.selected {
        background: $dashboard-list-selected-bg;
        .title,
        .text,
        .text-muted,
        .checkbox .fa {
            color: white;
        }
    }
}

.dashboard-main {
    left: $dashboard-menu-width;
    width: $dashboard-main-width;
    .dashboard-list {
        width: $dashboard-list-width;
        @include transition(width 300ms linear);
    }
    .dashboard-content {
        left: $dashboard-list-width;
        width: $dashboard-content-width;
        @include transition(left 300ms linear, width 300ms linear);
    }
}

.dashboard-main[expanded="true"] {
    .dashboard-list {
        width: 0;
    }
    .dashboard-content {
        left: 0;
        width: 100%;
    }
}

.dashboard-content {
    left: 0;
    width: 100%;
}

#search-collapse {
    position: absolute;
    background: white;
    width: 100%;
    padding: 20px;
    border-right: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    z-index: 1;
    @include border-bottom-radius(5px);
}

#dashboard-tips-handler {
    width: 100%;
    position: absolute;
    top: 72px;
    z-index: 99;
}

.dashboard-tips {
    padding-left: 2em;
    line-height: 50px;
    font-size: 16px;
}

.tips-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.tips-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.ql-container {
    &::-webkit-scrollbar {
        display: none;
    }
}


/**------------------------------------------
 *              Doughnut
 ------------------------------------------*/

.doughnut-legend {
    list-style: none;
    -webkit-padding-start: 0;
    li {
        display: block;
        position: relative;
        margin-bottom: 4px;
        border-radius: 5px;
        padding: 2px 8px 2px 28px;
        font-size: 14px;
        cursor: default;
        span {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 25px;
            height: 100%;
            border-radius: 5px;
        }
    }
}


/**------------------------------------------
 *              Menu Sidebar
 ------------------------------------------*/

$sidebar-color: RGB(136, 157, 169);
$sidebar-opened-border-color: RGB(85, 164, 211);
$sidebar-submenu-hover-bg-color: RGB(44, 52, 55);
.aurora-sidebar {
    height: calc(100% - $dashboard-header-height);
    overflow-y: scroll;
    .nav>li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        @include transition(border 100ms linear, box-shadow 200ms ease-out);
        & > a {
            display: block;
            font-size: 14px;
            font-weight: 500;
            color: $sidebar-color;
            padding: 1.3em 20px;
            &:focus,
            &:hover {
                color: white;
                text-decoration: none;
                background-color: transparent;
            }
            &.selected {
                @include box-shadow(0 4px 4px rgba(0, 0, 0, 0.25) inset);
                border-left: 3px solid $sidebar-opened-border-color;
            }
        }
        & > i.fa {
            position: absolute;
            right: 1.8em;
            top: 1.55em;
            color: $sidebar-color;
            @include transition(all 300ms linear);
        }
        &.opened {
            border-left: 3px solid $sidebar-opened-border-color;
            @include box-shadow(0 4px 4px rgba(0, 0, 0, 0.25) inset, 0 -4px 4px rgba(0, 0, 0, 0.25) inset);
            & > i.fa {
                @include rotate(90deg);
            }
        }
    }
}

.aurora-sidebar .nav .submenu {
    &,
    & > li {
        padding: 0;
    }
    & > li > a {
        display: block;
        font-size: 14px;
        font-weight: 500;
        color: white;
        padding: 0.8em 20px;
        padding-left: 3.3em;
        text-decoration: none;
        position: relative;
        &:focus,
        &:hover,
        &.selected {
            background: $sidebar-submenu-hover-bg-color;
        }
        &.selected {
            @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.25), 0 -2px 2px rgba(0, 0, 0, 0.25));
        }
        &.selected:before {
            content: ' ';
            width: 10px;
            height: 10px;
            position: absolute;
            left: 1em;
            top: 1.12em;
            border-radius: 50%;
            background: RGB(103, 159, 23);
        }
    }
}
